.tr td div button i{
    color:#081528;
    cursor: pointer;
}
.tr td div button i:active{
    opacity: 0.8;
    transform: scale(1.1);
}
.tr td div button{
    background: none !important;
}
button:disabled,button[disabled]{
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}