.AddBtn{
    font-size: 2rem;
    background: white;
    width: 24%;
    height: 16%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, 0px);
    border: 2px solid #C59D5F;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
div div div>span{
    font-weight: bold;
    color: #C59D5F;
    font-size: 1.2rem;
}
.AddBtn:hover{
    transition: all 0.3s ease-in-out;
    background: #C59D5F;
    border: 2px solid white;
}
.AddBtn:active{
    opacity: 0.9;
    border: 5px solid white;
}
.AddBtn:hover a{
    transition: all 0.3s ease-in-out;
    color:white !important;
}

