/* Standared Color  */

  /* #C59D5F; Gold */
  /* #081528; Dark Blue*/

.App{
  background-color: white;
  position: initial;
  height: 100%;
  width: 100%;
  min-height: 100vh !important;
  display: grid;
  overflow: hidden;  
  padding: 0;
}
::selection{
  color: white;
  background:#C59D5F ;
}